@media print {
  body * {
    visibility: hidden;
  }
  #print-label, #print-label * {
    visibility: visible;
  }
  #print-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: 0;
    padding: 20px;
  }
  .hide-on-print {
    display: none !important;
  }
}